<footer class="py-5 mt-5 border-top bg-dark text-white">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 text-center text-md-start">
      <div class="col mb-3">
        <a href="/" class="d-flex justify-content-center justify-content-md-start align-items-center mb-3 text-decoration-none">
          <img src="/logo.png" width="70" height="70" alt="Logo">
        </a>
        <p>&copy; 2025 MovieRadar</p>
      </div>

      <div class="col mb-3"></div>

      <div class="col mb-3">
        <h5>Pagine</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link active p-0 text-light">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Categorie</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Preferiti</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Social</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">X</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
